$colors: (
        black: #000000,
        dark-aqua: #003b46,
        ocean: #07575b,
        wave: #66a5ad,
        seafoam: #c4dfe6,
        white: #ffffff,
        red: #FA8072,
        green: #B2F77D
);